
.mainContentWrapper{
width: 100%;
}

.totalBookCount{
    margin: 40px auto;
    font-weight: bold;

}

.bookCardsWrapper{
    padding: 0 20px;
    list-style: none;
    margin: 0 auto;
    width: 90%;
    max-width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:10px;

    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; */
}
 


.loadMoreButton {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;

}

.loadMoreButton {
  display: inline-block;
  padding: 5px 15px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #a4a4a4;
  border: none;
  border-radius: 5px;
  box-shadow: 0 9px #999;
  margin: 50px 0 100px 0;
  }

  .loadMoreButton:hover {
      background-color: #808080
  }

  .loadMoreButton:active {
      background-color: #808080;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
  }

  .loadMoreButton::after {
    content: '';
    
  }