

.searchInputGroup {
    font-size: 24px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    /* align-items: ; */
    line-height: 36px;
}


.searchInput{
    width: 190px;
    height: 30px;
}


.searchLoupButton {
    height: 34px;
    width: 34px;
    /* border: 1px solid grey ; */
    border: none;
    background-color: white;
    /* border-radius: 2px; */
    display: block; 
    margin-left: -36px;
    margin-top: 1px;

}
.searchLoupButton:hover,
.searchLoupButton:active {
    filter: brightness(1.5);
}

.searchLoupImg{
    height: 22px;
    width: 22px;
    filter: brightness(1.05);
}




.searchParametersGroup {
    padding: 20px 0;
    font-size: 16px;
    display: flex;
    justify-content: center;
}
.searchParameter {
    display: inline-block;
    padding:5px;
    margin: 0 10px;    
}


.select {
    height: 30px;
    margin-left: 5px;
    /* color:rgb(80, 79, 79); */
}