

.searchInputGroup {
    font-size: 24px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    /* align-items: ; */
}


.searchInput{
    width: 190px;
    height: 30px;
}


.searchLoupButton {
    height: 36px;
    width: 36px;
    border: 1px solid grey ;
    background-color: white;
    border-radius: 1px;
    display: block; 
    margin-left: -36px; 
}
.searchLoupButton:hover,
.searchLoupButton:active {
    border: 1px solid rgb(86, 85, 85);
}
.searchLoupImg{
    height: 22px;
    width: 22px;  
}




.searchParametersGroup {
    padding: 20px 0;
    font-size: 16px;
    display: flex;
    justify-content: center;
}
.searchParameter {
    display: inline-block;
    padding:5px;
    margin: 0 10px;    
}


.select {
    height: 30px;
    margin-left: 5px;
    color:grey;
}