

.bookCover {
    width: 150px;
    min-width: 150px;
    height: 200px;
    min-height: 200px;
    margin: 20px;
    background-color: rgba(227, 227, 227, 0.832);
}

.bookCategory {
    text-decoration: underline;
    color:rgb(129, 129, 129);
    text-align: left;
    margin: 0 10px;
    margin-bottom: 10px;
}

.bookTitle{
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: left;
    margin: 0 10px;
    margin-bottom: 10px;
}

.bookAuthor{
    color: rgb(129, 129, 129);
    text-align: left;
    margin: 0 10px;
    margin-bottom: 15px;
}
              